<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit product</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/admin.css" />
    <script src="/script/form-app.js" defer></script>
  </head>
  <body>
    <main>
      <%- include('./navbar.ejs') %>
      <div class="form-section">
        <section>
          <h1>Update product detail</h1>
          <form
            action="/admin/editProducts/<%= product.id %>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <label for="name">New name:</label>
              <div class="normal">
                <i class="bx bx-edit-alt"></i>
                <input
                  type="text"
                  name="name"
                  id="name"
                  value="<%= product.product_name %>"
                  required
                />
              </div>
            </div>
            <div>
              <label for="quantity">New quantity:</label>
              <div class="normal">
                <i class="bx bx-package"></i>
                <input
                  type="number"
                  name="quantity"
                  id="quantity"
                  min="1"
                  value="<%= product.qty %>"
                />
              </div>
            </div>
            <div price>
              <label for="price">New price: ($)</label>
              <div class="normal">
                <i class="bx bx-dollar-circle"></i>
                <input
                  type="text"
                  name="price"
                  id="price"
                  value="<%= product.price %>"
                  required
                />
              </div>
            </div>
            <div>
              <label for="discout">New discount:</label>
              <div class="select">
                <select name="discount" id="discount">
                  <% for(let i = 0; i < discounts.length; i++) { %> <%
                  if(discounts[i].id === product.discount_id) { %>
                  <option value="<%= discounts[i].id %>">
                    Name: <%= discounts[i].name %>, Sale: <%=
                    discounts[i].percent * 100 %>%
                  </option>
                  <% } %> <% } %> <% for(let i = 0; i < discounts.length; i++) {
                  %> <% if(discounts[i].id !== product.discount_id) { %>
                  <option value="<%= discounts[i].id %>">
                    Name: <%= discounts[i].name %>, Sale: <%=
                    discounts[i].percent * 100 %>%
                  </option>
                  <% } %> <% } %>
                </select>
              </div>
            </div>
            <div>
              <label for="category">New category:</label>
              <div class="select">
                <select name="category" id="category">
                  <% for(let i = 0; i < categories.length; i++) { %> <%
                  if(categories[i].id === product.category_id) { %>
                  <option value="<%= categories[i].id %>">
                    <%= categories[i].name %>
                  </option>
                  <% } %> <% } %> <% for(let i = 0; i < categories.length; i++)
                  { %> <% if(categories[i].id !== product.category_id) { %>
                  <option value="<%= categories[i].id %>">
                    <%= categories[i].name %>
                  </option>
                  <% } %> <% } %>
                </select>
              </div>
            </div>
            <div>
              <label for="company">Company:</label>
              <div class="select">
                <select name="company" id="company">
                  <% for(let i = 0; i < companies.length; i++) { %> <%
                  if(companies[i].id === product.company_id) { %>
                  <option value="<%= companies[i].id %>">
                    <%= companies[i].name %>
                  </option>
                  <% } %> <% } %> <% for(let i = 0; i < companies.length; i++) {
                  %> <% if(companies[i].id !== product.company_id) { %>
                  <option value="<%= companies[i].id %>">
                    <%= companies[i].name %>
                  </option>
                  <% } %> <% } %>
                </select>
              </div>
            </div>
            <div image>
              <label for="image-link">Image link:</label>
              <div>
                <input
                  type="file"
                  name="image_link"
                  id="image"
                  accept="image/*"
                />
                <div class="choosenImage">
                  <img
                    src="/images/<%= product.image_link %>"
                    alt="<%= product.product_name %>"
                    style="width: 50px; height: 60px; object-fit: cover"
                  />
                </div>
              </div>
            </div>
            <div images>
              <label for="images">Image list:</label>
              <div>
                <input
                  type="file"
                  name="image_list"
                  id="images"
                  accept="image/*"
                  multiple
                />
                <div class="choosenImages">
                  <% const imageList = JSON.parse(product.image_list); %> <%
                  for(let i = 0; i < imageList.length; i++) { %>
                  <img
                    src="/images/<%= imageList[i] %>"
                    alt="<%= product.product_name %>"
                    style="width: 50px; height: 60px; object-fit: cover"
                  />
                  <% } %>
                </div>
              </div>
            </div>
            <div colors>
              <label for="color">Colors:</label>
              <div class="colors">
                <div id="swatch">
                  <input type="color" id="color" value="#ff0000" />
                  <div class="info">
                    <h1>Input</h1>
                    <h2>Color</h2>
                  </div>
                </div>
                <input
                  type="hidden"
                  name="colors"
                  id="hiddenColors"
                  value="<%= product.color_list %>"
                />
              </div>
              <div class="choosenColors">
                <% const colorList = JSON.parse(product.color_list); %> <%
                for(let i = 0; i < colorList.length; i++) { %>
                <div>
                  <i class="bx bx-x"></i>
                </div>
                <% } %>
              </div>
              <script>
                const list = "<%= colorList %>".split(",");
                document
                  .querySelectorAll(".choosenColors div")
                  .forEach((e, i) => {
                    e.style.backgroundColor = list[i];
                  });
              </script>
            </div>
            <div>
              <label for="sku">SKU:</label>
              <div class="normal">
                <i class="bx bx-barcode"></i>
                <input
                  type="text"
                  name="sku"
                  id="sku"
                  value="<%= product.SKU %>"
                  required
                />
              </div>
            </div>
            <div>
              <label for="description">Description:</label>
              <div class="desc">
                <textarea
                  name="description"
                  id="description"
                  cols="40"
                  rows="7"
                  placeholder="Edit description about the product..."
                >
<%= product.description %></textarea
                >
              </div>
            </div>
            <% if(messages.successMsg) { %>
            <strong class="success"><%= messages.successMsg %></strong>
            <% } %>
            <button type="submit" class="btn">Update</button>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
