<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/forms.css" />
  </head>
  <body>
    <main>
      <section>
        <h1>Reset password</h1>
        <p><span class="email-title">Your email:</span> <%= payload.email %></p>
        <form
          action="/user/resetpassword/<%= payload.id %>/<%= token %>"
          method="post"
        >
          <div>
            <label for="password">New password</label>
            <div>
              <i class="bx bx-lock-alt"></i>
              <input type="password" name="password" />
            </div>
            <% if(messages.validation) { %>
            <strong class="fail"><%= messages.validation %></strong>
            <% } %>
          </div>
          <div>
            <label for="confirm">Confirm password</label>
            <div>
              <i class="bx bx-lock-open-alt"></i>
              <input type="password" name="confirm" />
            </div>
            <% if(messages.confirmFailure) { %>
            <strong class="fail"><%= messages.confirmFailure %></strong>
            <% } %>
          </div>
          <button type="submit" class="btn">Change password</button>
        </form>
      </section>
    </main>
  </body>
</html>
